div.outside {
    border-style:dotted;
    border-color: blue;
    border-radius: 10px;
    padding: 10px;
}
div.middle {
    border-style:dotted;
    border-color: red;
    border-radius: 10px;
    padding: 10px;
}

div.inside{
 border-style: solid;
 border-color: green;
 border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: medium;
}