<div>
    <div class="text-center">
        <h2>Login</h2>
    </div>
    <form action="/login" method="POST">
        <label for="name">Username:</label>
        <input class="form-control" type="text" name="username"><br>

        <label for="name">Password:</label>
        <input class="form-control" type="password" name="password"><br>

        <div class="offset-4 col-sm-4">
            <input class="btn btn-block btn-color" type="submit" value="Login">
        </div>
    </form>
</div>